.carousel_inner {

    height: 62px;
    width: 600px;

    background-color: rgb(51, 51, 51);

    color: white;
    overflow: hidden;

    align-items: center;
    text-align: center;
    justify-content: flex-start;

    display: flex;
    gap: 20px;

    h2 {
        padding-left: 20px;
    }


    #carousel {

        align-self: flex-start;
        text-align: center;

        position: relative;

        .item {
            margin: 0;
            padding: 21px;
            height: 62px;
            box-sizing: border-box;
        }

    }

}